/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

body {
  background: white;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.card {
  border: 1px solid #ccc;
  margin-bottom: 2rem;
}

.card-header {
  height: 60px;
  padding: 1rem;
  margin: 0;
  vertical-align: middle;
}

.card-profile-image {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  float: left;
}

.card-profile-name {
  float: left;
  margin-top: 0.5rem;
  font-weight: 600;
  color: #262626;
  margin-left: 1rem;
}

.card-actions {
  float: right;
  margin-top: 0.5rem;
  font-weight: bold;
}

.card-image {
  width: 100%;
}